body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ededed;
  margin-bottom: 50px;
}

.h1-summary{
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 30px;
}

.p-linespacing{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px; /* 4px +12px + 4px */
}

.p-1{
  font-size: 12px;
}

.image{
  height: 400px;
  width : 500px;
}

.description-content{
  background-color: white;
  padding: 50px;
}

.visualization-content{
  background-color: white;
  padding: 50px;
}

.visualization-image{
  height: 150px;
  width: 130px
}

.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 160px;
  height: 140px;
  background: none;
}

/* On screens that are 992px or less, set the background color to blue */
@media only screen and (max-width: 750px) {
  body {
    background-color:#fff;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 750px) { 
  navbar-custom {
    background-color: teal;
  }
 }